<div class="container">



<div class="page-header">
  <h1>كورس أساسيات الويب - <%= @challenge.title %> </h1>
  <div id="challenge-point">
    نقاط التحدي <span class="badge">  <%= @challenge.points %></span>
  </div>

</div>


<p>
  <strong>نص التحدي:</strong>
  <br>
  <br>
  <%= @challenge.desc %>
</p>


<%= form_for @challenge, url: url_for(controller: 'challenges', action: 'attempt'), method: :post do |f| %>
  <div class="field">
    <%= f.label :precode %><br>
    <%= f.text_area :precode, name: 'challenge[attempt]' %>
  </div>
  <div class="actions">
    <%= f.submit value: 'Submit' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>

</div>
