<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @challenge.desc %>
</p>

<p>
  <strong>Points:</strong>
  <%= @challenge.points %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
